<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="local" monitorInterval="60">

    <Properties>
        <Property name="logdir">./logs</Property>
    </Properties>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Root>

        <Logger name="com.jahon.home" level="debug" additivity="true">
            <AppenderRef ref="server"/>
        </Logger>

    </Loggers>

    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{bright, green} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{*.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

        <RollingFile name="server" fileName="${logdir}/server.log"
                     filePattern="${logdir}/server-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <Pattern>%d %p - [%l] [%T:(%t)] === %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${logdir}" maxDepth="1">
                    <IfFileName glob="server-*.log.gz"/>
                    <IfLastModified age="1d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </Appenders>

</Configuration>